<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  {{ wp_head }}
</head>
<body class="{{ body_class }}">
  {% include 'partials/header.twig' %}
  {% include 'partials/nav.twig' %}

  <main class="main">
    {% block content %}
      <article class="post post_empty">
        <p>{{ i18n.no_content }}</p>
      </article>
    {% endblock %}
  </main>

  {# If this were an end-user theme, the following wouldn't be hardcoded :) #}
  <footer class="footer">
    <p class="footer__outro">I make websites with WordPress, but I'm primarly a front-end developer. The code for this website is open <a href="https://github.com/andrejcremoznik/website">on my Github</a>.</p>
    <small class="footer_license">– Andrej Cremoznik,<br> (<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC-by-nc-sa</a>)</small>
  </footer>

  {% include 'partials/symbols.twig' %}

  {{ wp_footer }}
</body>
</html>
